<h1>Datos del Usuario</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Añadir usuario</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Nombre</th>
            <th style="width: 30%">Apellido</th>
            <th style="width: 30%">Nombre de Usuario</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Editar datos</a>
                
            </td>
        </tr>       
    </tbody>
   
</table>