
<div >

  <div class="box">

    
      <img src="assets/Logo.png">
      <div class="inputBox">
        <input type="text" name="" required="" [(ngModel)]="nombreUsuario">
        <label> Nombre de usuario</label>
      </div>
      <div class="inputBox">
        <input type="password" name="" required="" [(ngModel)]="contrasenia">
        <label> Contraseña</label>
      </div>
      <input type="submit" name="" (click)="login()" value="Iniciar Sesion">
      <h6><br>¿ no tienes una cuenta ?</h6>
      <a href="registro.html" class="mensaje"> registrate acá</a>
    
  </div>

</div>
