

<div>

  <div class="box">

    <form>
      <img src="assets/Logo.png">

      <div class="inputBox">
        <input type="text" name="" required="" [formControl]="nombreUsuarioControl">
        <label> Nombre Usuario </label>
      </div>
      <div class="inputBox">
        <input type="password" name="" required="" [formControl]="contraseniaControl">
        <label> Contraseña </label>
      </div>
      <div class="inputBox">
        <input type="text" name="" required="" [formControl]="nombreControl">
        <label> Nombre </label>
      </div>
      <div class="inputBox">
        <input type="text" name="" required="" [formControl]="apellidoControl">
        <label> Apellido </label>
      </div>
      <div class="inputBox">
        <input type="text" name="" required="" [formControl]="dniControl">
        <label> DNI </label>
      </div>
      <div class="inputBox">
        <input type="text" name="" required="" [formControl]="domicilioControl">
        <label> Domicilio </label>
      </div>
      <div class="inputBox">
        <input type="text" name="" required="" [formControl]="correoElectronicoControl">
        <label> Correo Electronico </label>
      </div>
      <div class="inputBox">
        <input type="text" name="" required="" [formControl]="telefonoControl">
        <label> Telefono </label>
      </div>
      <div class="inputBox">
        <input type="text" name="" required="" [formControl]="cuilControl">
        <label> Cuil </label>
      </div>

       <input type="submit" name="" (click)="SendInfo()" value="Registrarme">
      
      

    </form>
  </div>

</div>
